<!DOCTYPE html>
<html>
<head>
    <title>A Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='circle'></div>
    <div class='container'>

        <h1>Welke map wilt u ordenen?</h1>

        <form method="POST" id="typeSortingForm">
            <label for="typeSorting">Hoe wil je de bestanden sorteren: </label>
            <select name="typeSorting" id="typeSorting">
                <option value="byExt">Sort By Extension</option>
                <option value="byTime">Datum laatst bewerkt</option>
            </select>
        </form>

    <div id="timeSortingWrapper">
        <form method="POST" id='timeSortingForm'>
            <label for='timeSorting'>How to sort the files: </label>
            <select name='timeSorting' id='timeSorting'>
                <option value='sortByYear'>Sort By Year</option>
                <option value='sortByMonth'>Sort By Month</option>
                <option value='sortByDay'>Sort by Day</option>
            </select>
        </form>       
    </div>
        <form method="POST">
            <input name="map_input" placeholder="Bijv. C:/Users/Jij/Documents">
            <input type="submit" value="Verstuur">
        </form>

            {% if mapExists == False %}
                <p>De map die u ingediend heeft bestaat niet ({{ map_check }}). Vul een andere map in.</p>
            {% elif mapExists == True and map_check %}
                <p>De map die u wilt ordenen is dus: {{ map_check }}</p>
                <form method="POST">
                    <input type="hidden" name="map_input" value="{{ map_check }}">
                    <button type="submit" value="yes" name="action">Ja</button>
                    <button type="submit" value="no" name="action">Nee</button>
                </form>
            {% endif %}
        
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
        

            

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
